.card {
  color: #666;
  &.stats {
    .card-body {
      padding: 0 1rem;
      font-size: 1.75rem;
      font-weight: 600;
    }
  }
  &.gradient-bg {
    background: #ff527a;
    background: -moz-linear-gradient(-45deg, #ff527a 0%, #ff9575 100%);
    background: -webkit-linear-gradient(-45deg, #ff527a 0%, #ff9575 100%);
    background: linear-gradient(135deg, #ff527a 0%, #ff9575 100%);
    color: #fff;
    border: 0;
  }
  .card-header,
  .card-footer {
    padding: 0.5rem 1rem;
    background-color: transparent !important;
    border: 0;
    > * {
      margin: 0;
    }
  }
  .card-header {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .card-body {
    padding: 1rem;
    > * {
      margin: 0;
    }
  }
  .card-footer {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
  }
}

canvas {
  width: 100% !important;
}
