<div class="row mb-4">
  <div class="col">
    <div widget class="card border-0 box-shadow">
      <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0 dib">{{ 'globalAuthLimits.heading' | translate }}</h5>
      </div>
    </div>
  </div>
</div>

<div widget class="card border-0 box-shadow">
  <div class="box box-primary">
    <div class="box-body">
      <app-grid class="w-100" [gridModelInput]="settings" (onGridSync)="syncGridData($event)"></app-grid>
      <ng-template #actionTmpl let-row="row" let-value="value">
        <button type="button" class="btn btn-sm btn-outline-gray" [disabled]="isRequesting" (click)="edit(row)">{{
          'Grid.edit' | translate }}</button>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #content let-d='dismiss' let-c='close'>
  <div class="modal-header">
    <h4 class="modal-title ttc" id="modal-basic-title">{{modalAction}} {{ 'globalAuthLimits.title' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="setLimitForm" (ngSubmit)="onSubmit(setLimitForm.value)">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-xl-4 col-sm-6 col-12">
          <label class="control-label required">{{ 'Grid.th.limitPerTrans' | translate }}</label>
          <input [formControl]="perTranLimit" name="perTranLimit" class="form-control validation-field" type="number">
          <small class="text-danger" *ngIf="setLimitForm.get('perTranLimit').touched">
            <span *ngIf="setLimitForm.get('perTranLimit').hasError('required')">{{ 'Grid.th.limitPerTrans' | translate
              }}
              {{ 'Labels.isRequired' | translate }}</span>
          </small>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xl-4 col-sm-6 col-12">
          <label class="control-label required">{{ 'Labels.limitType' | translate }}</label>
          <select class="form-control validation-field" [formControl]="authMode">
            <option *ngFor="let x of limitTypes" [ngValue]="x.code">{{x.name}}</option>
          </select>
          <small class="text-danger" *ngIf="setLimitForm.get('authMode').touched">
            <span *ngIf="setLimitForm.get('authMode').hasError('required')">{{ 'Labels.limitType' | translate }} {{
              'Labels.isRequired' | translate
              }}</span>
          </small>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="!setLimitForm.valid || isRequesting" class="btn btn-primary">{{ 'Labels.save' |
        translate }}</button>
    </div>
  </form>
</ng-template>
