<nav class="navbar box-shadow app-header" [class.fixed-top]="settings.theme.navbarIsFixed" [class.logo-visible]="showInfoContent">
  <div class="d-flex flex-column w-100">
    <div class="d-flex justify-content-start align-items-center top-navbar">
      <a class="logo" routerLink="/" (click)="closeSubMenus()">
        <img [src]="settings.theme.logoMiniUrl" style="min-height: 25px; max-height: 35px" [alt]="settings.title" />
      </a>

      <span class="navbar-text menu-icon transition ml-3 mr-3" [ngClass]="{ open: settings.theme.showMenu }" (click)="settings.theme.showMenu = !settings.theme.showMenu">
        <i class="fa ml1" [ngClass]="!settings.theme.showMenu ? 'fa-bars' : 'fa-arrow-left'"></i>
      </span>
      <div class="top-rigth-icons ml-auto">
        <span class="pl-2 pr-2">
          <b class="mr-2">Last Login:</b>{{ lastLogin }}
        </span>
        <span class="hidden-xs-down">
          <app-user-menu></app-user-menu>
        </span>
        <span class="pl-2 pr-2">
          <a (click)="logout()">
            <i class="fa fa-power-off mr-2" aria-hidden="true"></i>{{ 'Logout.title' | translate }}
          </a>
        </span>
      </div>
    </div>

    <div class="horizontal-menu-outer" *ngIf="settings.theme.menuOrientation == 'horizontal'">
      <app-horizontal-menu *ngIf="showHorizontalMenu" [menuItems]="menuItems"></app-horizontal-menu>
      <app-vertical-menu *ngIf="!showHorizontalMenu" [menuItems]="menuItems"></app-vertical-menu>
    </div>
  </div>
</nav>
