<div widget class="card border-0 box-shadow">
  <div class="box box-primary">
    <div class="box-body">
      <div class="card-body">
        <div class="row">
          <div class="form-group col-12" *ngFor="let item of profileInfo | keyvalue">
            <div class="row">
              <div class="col-4 text-gray text-right pr-0 font-italic text-truncate">{{item.key}}:</div>
              <div class="col-8 pl-2 text-truncate">{{item.value}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>