<div class="row mb-4">
  <div class="col">
    <div widget class="card border-0 box-shadow">
      <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0 dib">{{ 'passwordPolicy.heading' | translate }}</h5>
      </div>
    </div>
  </div>
</div>

<div widget class="card border-0 box-shadow">
  <div class="box box-primary">
    <div class="box-body">
      <form class="ph2" (submit)="onSubmit()">
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-xl-12 col-sm-12 col-12">
              <label class="ph1 b" for="policy">{{ 'Labels.selectOne' | translate }}:</label>
              <ul class="list mt2 flex flex-wrap">
                <li *ngFor="let policy of policies" class="w-30 mb3 ph1">
                  <label class="db">{{policy.name}}</label>
                  <input type="radio" attr.data-id="{{policy.id}}" name="policy" (change)="onCheckChange($event)" [checked]="policy.portal" />
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" [disabled]="isRequesting" class="btn btn-primary">{{ 'Labels.submit'
            | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
