<div class="row" *ngIf="canGenerateReport">
  <div class="col-md-12">
    <a href="javascript:void(0)" class="pull-right mb-3" (click)="generateReport()"
      >{{ 'Labels.generate' | translate }} {{ 'Labels.report' | translate }}</a
    >
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <div widget class="card border-0 box-shadow">
      <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0 dib">{{ 'activities.heading' | translate }}</h5>
      </div>
      <hr />
      <div class="card-body widget-body pt-0">
        <form
          [formGroup]="searchForm"
          (ngSubmit)="loadActivities()"
          class="row"
        >
          <div class="form-group col-xl-3 col-sm-6 col-12">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label required">{{
                  'Labels.startDate' | translate
                }}</label>
              </div>
              <div class="col-md-12">
                <app-date-time-picker
                  class="w-100"
                  (dateChange)="updateDate($event, startDate)"
                  formControlName="startDate"
                  [(dpModelInput)]="startDate"
                ></app-date-time-picker>
                <small
                  class="text-danger"
                  *ngIf="searchForm.get('startDate').touched"
                >
                  <span *ngIf="searchForm.get('startDate').hasError('required')"
                    >{{ 'Labels.startDate' | translate }} is required</span
                  >
                </small>
                <small
                  class="text-danger"
                  *ngIf="searchForm.hasError('startDate')"
                >
                  <span *ngIf="searchForm.getError('startDate')">{{
                    searchForm.getError('startDate').text
                  }}</span>
                </small>
              </div>
            </div>
          </div>
          <div class="form-group col-xl-3 col-sm-6 col-12">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label required">{{
                  'Labels.endDate' | translate
                }}</label>
              </div>
              <div class="col-md-12">
                <app-date-time-picker
                  class="w-100"
                  (dateChange)="updateDate($event, endDate)"
                  formControlName="endDate"
                  [(dpModelInput)]="endDate"
                ></app-date-time-picker>
                <small
                  class="text-danger"
                  *ngIf="searchForm.get('endDate').touched"
                >
                  <span *ngIf="searchForm.get('endDate').hasError('required')"
                    >{{ 'Labels.endDate' | translate }} is required</span
                  >
                </small>
              </div>
            </div>
          </div>
          <div class="form-group col-xl-3 col-sm-6 col-12">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label">{{
                  'Labels.sourceAccount' | translate
                }}</label>
              </div>
              <div class="col-md-12">
                <input
                  type="text"
                  class="form-control"
                  name="sourceAccount"
                  formControlName="sourceAccount"
                />
              </div>
            </div>
          </div>
          <div class="form-group col-xl-3 col-sm-6 col-12">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label">{{
                  'Labels.custId' | translate
                }}</label>
              </div>
              <div class="col-md-12">
                <input
                  type="text"
                  class="form-control"
                  name="customerID"
                  formControlName="customerID"
                />
              </div>
            </div>
          </div>
          <div class="form-group col-xl-3 col-sm-6 col-12">
            <div class="row">
              <div class="col-md-12 hidden-xs-down">
                <label class="control-label">&nbsp;</label>
              </div>
              <div class="col-md-12">
                <button
                  class="btn btn-primary"
                  [disabled]="!searchForm.valid || isRequesting"
                  type="submit"
                >
                  <i class="fa fa-search"></i>&nbsp;
                  {{ 'Labels.search' | translate }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div widget class="card border-0 box-shadow">
  <div class="box box-primary">
    <div class="box-body">
      <div class="box-body">
        <button
          class="btn btn-outline-secondary btn-sm ma2 pull-right"
          *ngIf="checkGridDataLoad()"
          [disabled]="isRequesting"
          (click)="downloadReport()"
          title="Download Report"
          type="button"
        >
          <i class="fa fa-download"></i>&nbsp; Download
        </button>
        <app-grid
          class="w-100"
          [gridModelInput]="settings"
          (onGridSync)="syncGridData($event)"
        ></app-grid>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-d="dismiss" let-c="close">
  <div class="modal-header">
    <h4 class="modal-title ttc" id="modal-basic-title">
      {{ 'Labels.download' | translate }} {{ 'Labels.report' | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="searchForm2" class="ph2" (ngSubmit)="loadReport()">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-xl-4 col-sm-6 col-12">
          <label class="control-label required">{{
            'Labels.startDate' | translate
          }}</label>
          <app-date-time-picker
            class="w-100"
            (dateChange)="updateDate($event, startDate2)"
            formControlName="startDate2"
            [(dpModelInput)]="startDate2"
          ></app-date-time-picker>
          <small class="text-danger" *ngIf="searchForm2.hasError('startDate2')">
            <span *ngIf="searchForm2.getError('startDate2')">{{
              searchForm2.getError('startDate').text
            }}</span>
          </small>
        </div>
        <div class="form-group col-xl-4 col-sm-6 col-12">
          <label class="control-label required">{{
            'Labels.endDate' | translate
          }}</label>
          <app-date-time-picker
            class="w-100"
            (dateChange)="updateDate($event, endDate2)"
            formControlName="endDate2"
            [(dpModelInput)]="endDate2"
          ></app-date-time-picker>
          <small class="text-danger" *ngIf="searchForm2.hasError('endDate2')">
            <span *ngIf="searchForm2.getError('endDate2')">{{
              searchForm2.getError('endDate2').text
            }}</span>
          </small>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="submit"
        [disabled]="!searchForm2.valid || isRequesting"
        class="btn btn-primary"
      >
        {{ 'Labels.submit' | translate }}
      </button>
    </div>
  </form>
</ng-template>
