<div class="d-flex justify-content-center align-items-center w-100 h-100 login-container" *ngIf="firstLogin">
  <div class="col-xl-4 col-md-5 col-10">
    <div class="card border-0 box-shadow rounded-0">
      <div class="card-header d-flex justify-content-center align-items-center border-0 pa4">
        <img [src]="settings.theme.mainLogoInvUrl" />
      </div>
      <div class="card-block text-center ph4 pt0 pb4">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-left mt3">
          <div class="form-group">
            <input [formControl]="oldPassword" class="form-control validation-field br0" placeholder="{{ 'password.old' | translate }}"
              type="password" />
            <small class="text-danger" *ngIf="
                form.get('oldPassword').touched &&
                form.get('oldPassword').hasError('required')
              ">{{
              'password.old' | translate }} {{ 'Labels.isRequired' | translate }}</small>
          </div>
          <div class="form-group">
            <input [formControl]="newPassword" class="form-control validation-field br0" placeholder="{{ 'password.new' | translate }}"
              type="password" />
            <small class="text-danger" *ngIf="form.get('newPassword').touched && form.get('newPassword').hasError('required') && form.get('newPassword').errors.text === null">{{
              'password.new' | translate }} {{ 'Labels.isRequired' | translate }}
            </small>
            <small class="text-danger" *ngIf="form.get('newPassword').touched && form.get('newPassword').hasError('required') && form.get('newPassword').errors.text !== null">
              {{ form.get('newPassword').errors.text }}
            </small>
          </div>
          <div class="form-group">
            <input [formControl]="confirmPassword" class="form-control validation-field br0" placeholder="{{ 'password.confirm' | translate }}"
              type="password" />
            <small class="text-danger" *ngIf="form.get('confirmPassword').touched">
              <span *ngIf="form.hasError('mismatchedFields')">
                  {{ form.errors.text }}
              </span>
            </small>
          </div>
          <div class="form-group">
            <button [disabled]="!form.valid || (loaderService.isLoading | async)" class="btn btn-block pa3 br0" type="submit">
              {{ 'password.change' | translate }}
            </button>
          </div>
        </form>
        <div class="d-flex align-items-center justify-center mt4">
          <span class="copyright">{{ 'Labels.powered' | translate }}</span>
          <img class="w4 ml2" [src]="settings.theme.mainLogoInvUrl" />
        </div>
      </div>
    </div>
  </div>
</div>

<div widget class="card border-0 box-shadow" *ngIf="!firstLogin">
  <div class="box box-primary">
    <div class="box-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="card-body">
          <div class="row">
            <div class="form-group col-xl-4 col-sm-6 col-12">
              <input [formControl]="oldPassword" class="form-control validation-field br0" placeholder="{{ 'password.old' | translate }}"
                type="password" />
              <small class="text-danger" *ngIf="form.get('oldPassword').touched && form.get('oldPassword').hasError('required')">{{
                'password.old' | translate }} {{ 'Labels.isRequired' | translate }}
              </small>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xl-4 col-sm-6 col-12">
              <input [formControl]="newPassword" class="form-control validation-field br0" placeholder="{{ 'password.new' | translate }}"
                type="password" />
              <small class="text-danger" *ngIf="form.get('newPassword').touched && form.get('newPassword').hasError('required') && form.get('newPassword').errors.text === null">{{
                'password.new' | translate }} {{ 'Labels.isRequired' | translate }}
              </small>
              <small class="text-danger" *ngIf="form.get('newPassword').touched && form.get('newPassword').hasError('required') && form.get('newPassword').errors.text !== null">
                {{ form.get('newPassword').errors.text }}
              </small>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xl-4 col-sm-6 col-12">
              <input [formControl]="confirmPassword" class="form-control validation-field br0" placeholder="{{ 'password.confirm' | translate }}"
                type="password" />
              <small class="text-danger" *ngIf="form.get('confirmPassword').touched">
                <span *ngIf="form.hasError('mismatchedFields')">
                    {{ form.errors.text }}
                </span>
              </small>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="!form.valid || (loaderService.isLoading | async)" class="btn btn-primary" type="submit">
            {{ 'password.change' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
