<div class="d-flex justify-content-center align-items-center w-100 h-100 login-container">
  <div class="col-xl-4 col-md-5 col-10">
    <div class="card border-0 box-shadow rounded-0">
      <div class="card-header d-flex justify-content-center align-items-center border-0 pa4">
        <img [src]="settings.theme.mainLogoInvUrl" />
      </div>
      <div class="card-block text-center ph4 pt0 pb4">
        <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-left mt3">
          <div class="form-group">
            <input [formControl]="email" autocomplete="off" class="form-control validation-field br0" placeholder="{{ 'Labels.email' | translate }}"
              type="text" />
            <small class="text-danger" *ngIf="
                form.get('email').touched &&
                form.get('email').hasError('required')
              ">{{
              'Labels.email' | translate }}
              {{ 'Labels.isRequired' | translate }}</small>
          </div>
          <div class="form-group">
            <input [formControl]="password" autocomplete="off" class="form-control validation-field br0" placeholder="{{ 'Labels.password' | translate }}"
              type="password" />
            <small class="text-danger" *ngIf="
                form.get('password').touched &&
                form.get('password').hasError('required')
              ">{{
              'Labels.password' | translate }}
              {{ 'Labels.isRequired' | translate }}</small>
          </div>
          <div class="form-group" *ngIf="settings.supportTokenAuthentication">
            <input [formControl]="authToken" autocomplete="off" class="form-control validation-field br0" placeholder="{{ 'Labels.token' | translate }}"
              type="password" />
            <small class="text-danger" *ngIf="
                form.get('authToken').touched &&
                form.get('authToken').hasError('required')
              ">{{
              'Labels.token' | translate }}
              {{ 'Labels.isRequired' | translate }}</small>
          </div>
          <div class="form-group" *ngIf="settings.supportMultipleLanguages">
            <select #langSelect (change)="useLanguage(langSelect.value)" class="form-control validation-field br0">
              <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{
                lang }}</option>
            </select>
          </div>
          <div class="form-group">
            <button [disabled]="!form.valid || (loaderService.isLoading | async)" class="btn btn-block pa3 br0" type="submit">
              {{ 'Login.title' | translate }}
            </button>
          </div>
          <div class="form-group text-center" *ngIf="!settings.supportActiveDirectory">
            <a href="#/reset-password">{{ 'password.reset' | translate }}</a>
          </div>
        </form>
        <div class="d-flex align-items-center justify-center mt4">
          <span class="copyright">{{ 'Labels.powered' | translate }}</span>
          <img class="w4 ml2" [src]="settings.theme.mainLogoInvUrl" />
        </div>
      </div>
    </div>
  </div>
</div>
