<div class="row mb-4">
  <div class="col">
    <div widget class="card border-0 box-shadow">
      <div class="card-header transparent border-0 text-muted pb-0">
        <h5 class="mb-0 dib">{{ 'Labels.search' | translate }}</h5>
        <button class="btn btn-outline-gray btn-sm pointer fr" (click)="openModal(content, this.translate.instant('Grid.create'))"><i
            class="fa fa-plus"></i>&nbsp;
          {{ 'Labels.add' | translate }}</button>
      </div>
      <hr />
      <div class="card-body widget-body pt-0">
        <form (ngSubmit)="loadBanks()" class="row">
          <div class="form-group col-xl-3 col-sm-6 col-12">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label">{{ 'Labels.bankName' | translate }}</label>
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" name="bankName" [(ngModel)]="bankName" />
              </div>
            </div>
          </div>
          <div class="form-group col-xl-3 col-sm-6 col-12">
            <div class="row">
              <div class="col-md-12 hidden-xs-down">
                <label class="control-label">&nbsp;</label>
              </div>
              <div class="col-md-12">
                <button class='btn btn-primary' [disabled]="isRequesting" type="submit">
                  <i class="fa fa-search"></i>&nbsp; {{ 'Labels.search' | translate }}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div widget class="card border-0 box-shadow">
  <div class="box box-primary">
    <div class="box-body">
      <button class="btn btn-outline-secondary btn-sm ma2 pull-right" *ngIf="checkGridDataLoad()" [disabled]="isRequesting"
        (click)="downloadReport()" title="{{ 'Labels.download' | translate }}" type="button">
        <i class="fa fa-download"></i>&nbsp; {{ 'Labels.download' | translate }}
      </button>
      <app-grid class="w-100" [gridModelInput]="settings" (onGridSync)="syncGridData($event)"></app-grid>
      <ng-template #statusTmpl let-row="row" let-value="value">
        <span [ngClass]="value === true ? 'badge badge-success' : 'badge badge-danger'">{{value === true ?
          'Active' : 'Inactive'}}</span>
      </ng-template>
      <ng-template #actionTmpl let-row="row" let-value="value">
        <button type="button" class="btn btn-sm btn-outline-gray" [disabled]="isRequesting" (click)="edit(row)">{{
          'Grid.edit' | translate }}</button>
        <button type="button" *ngIf="!row.status" class="btn btn-sm btn-outline-success" [disabled]="isRequesting"
          (click)="activate(value)">{{ 'Grid.activate' | translate }}</button>
        <button type="button" *ngIf="row.status" class="btn btn-sm btn-outline-danger" [disabled]="isRequesting"
          (click)="deactivate(value)">{{ 'Grid.deactivate' | translate }}</button>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #content let-d='dismiss' let-c='close'>
  <div class="modal-header">
    <h4 class="modal-title ttc" id="modal-basic-title">{{modalAction}} {{ 'Labels.bank' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="bankForm" class="ph2" (ngSubmit)="onSubmit(bankForm.value)">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-xl-4 col-sm-6 col-12">
          <label class="control-label required">{{ 'Grid.th.name' | translate }}</label>
          <input [formControl]="name" class="form-control validation-field" type="text">
          <small class="text-danger" *ngIf="bankForm.get('name').touched">
            <span *ngIf="bankForm.get('name').hasError('required')">{{ 'Grid.th.name' | translate }} {{
              'Labels.isRequired' | translate }}</span>
          </small>
        </div>
        <div class="form-group col-xl-4 col-sm-6 col-12">
          <label class="control-label required">{{ 'Grid.th.code' | translate }}</label>
          <input [formControl]="code" class="form-control validation-field" type="text">
          <small class="text-danger" *ngIf="bankForm.get('code').touched">
            <span *ngIf="bankForm.get('code').hasError('required')">{{ 'Grid.th.code' | translate }} {{
              'Labels.isRequired' | translate }}</span>
          </small>
        </div>
        <div class="form-group col-xl-4 col-sm-6 col-12">
          <label class="control-label required">{{ 'Grid.th.gatewayCode' | translate }}</label>
          <input [formControl]="gatewayCode" class="form-control validation-field" type="text">
          <small class="text-danger" *ngIf="bankForm.get('gatewayCode').touched">
            <span *ngIf="bankForm.get('gatewayCode').hasError('required')">{{ 'Grid.th.gatewayCode' | translate }} {{
              'Labels.isRequired' |
              translate }}</span>
          </small>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="!bankForm.valid || isRequesting" class="btn btn-primary">{{ 'Labels.submit' |
        translate }}</button>
    </div>
  </form>
</ng-template>
