<div class="row mb-4">
  <div class="col">
    <div widget class="card border-0 box-shadow">
      <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0 dib">{{ 'roleFunctions.heading' | translate }}</h5>
      </div>
    </div>
  </div>
</div>

<div widget class="card border-0 box-shadow">
  <div class="box box-primary">
    <div class="box-body">
      <form [formGroup]="roleForm" class="ph2" (ngSubmit)="onSubmit(roleForm.value)">
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-xl-4 col-sm-6 col-12"  *ngIf="isISW">
              <label class="control-label">{{ 'Labels.country' | translate }}</label>
              <select class="form-control validation-field" [formControl]="country_id">
                <option value="">--Select--</option>
                <option *ngFor="let x of countries" [value]="x.id">{{x.name}}</option>
              </select>
            </div>
            <div class="form-group col-xl-4 col-sm-6 col-12"  *ngIf="isISW">
              <label class="control-label">{{ 'Labels.institution' | translate }}</label>
              <select class="form-control validation-field" [formControl]="institution_id">
                <option value="">--Select--</option>
                <option *ngFor="let x of institutions" [value]="x.id">{{x.name}}</option>
              </select>
            </div>
            <div class="form-group col-xl-4 col-sm-6 col-12">
              <label class="control-label required">{{ 'Labels.role' | translate }}</label>
              <select class="form-control validation-field" [formControl]="role_id">
                <option value="">--Select--</option>
                <option *ngFor="let r of roles" [value]="r.id">{{r.name}}</option>
              </select>
              <small class="text-danger" *ngIf="roleForm.get('role_id').touched">
                <span *ngIf="roleForm.get('role_id').hasError('required')">{{ 'Labels.role' | translate }} {{
                  'Labels.isRequired' | translate }}</span>
              </small>
            </div>
          </div>
          <div class="row" *ngIf="checkForFunctions()">
            <div class="form-group col-xl-12 col-sm-12 col-12">
              <hr />
              <ul class="list mt1 flex flex-wrap">
                <li *ngFor="let item of menus" class="w-30 mb3">
                  <label class="db">{{item.title}}</label>
                  <input type="checkbox" attr.data-id="{{item.id}}" (change)="onCheckChange($event)" [checked]="item.isChecked" />
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" [disabled]="!roleForm.valid || (loaderService.isLoading | async)" class="btn btn-primary">{{ 'Labels.submit'
            | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
