<div class="row mb-4">
  <div class="col">
    <div widget class="card border-0 box-shadow">
      <div class="card-header transparent border-0 text-muted pb-0">
        <h5 class="mb-0 dib">{{ 'Labels.search' | translate }}</h5>
      </div>
      <hr />
      <div class="card-body widget-body pt-0">
        <form [formGroup]="searchForm" (ngSubmit)="loadAuditLogs()" class="row">
          <div class="form-group col-xl-3 col-sm-6 col-12">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label required">{{ 'Labels.startDate' | translate }}</label>
              </div>
              <div class="col-md-12">
                <app-date-time-picker class="w-100" (dateChange)="updateDate($event, startDate)" formControlName="startDate"
                  [(dpModelInput)]="startDate"></app-date-time-picker>
                <small class="text-danger" *ngIf="searchForm.get('startDate').touched">
                  <span *ngIf="searchForm.get('startDate').hasError('required')">{{ 'Labels.startDate' | translate }}
                    is required</span>
                </small>
                <small class="text-danger" *ngIf="searchForm.hasError('startDate')">
                  <span *ngIf="searchForm.getError('startDate')">{{
                    searchForm.getError('startDate').text
                    }}</span>
                </small>
              </div>
            </div>
          </div>
          <div class="form-group col-xl-3 col-sm-6 col-12">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label required">{{ 'Labels.endDate' | translate }}</label>
              </div>
              <div class="col-md-12">
                <app-date-time-picker class="w-100" (dateChange)="updateDate($event, endDate)" formControlName="endDate"
                  [(dpModelInput)]="endDate"></app-date-time-picker>
                <small class="text-danger" *ngIf="searchForm.get('endDate').touched">
                  <span *ngIf="searchForm.get('endDate').hasError('required')">{{ 'Labels.endDate' | translate }} is
                    required</span>
                </small>
              </div>
            </div>
          </div>
          <div class="form-group col-xl-3 col-sm-6 col-12">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label">{{ 'Labels.auditType' | translate }}</label>
              </div>
              <div class="col-md-12">
                <select class="form-control" name="auditType" [formControl]="auditType">
                  <option value="">ALL</option>
                  <option *ngFor="let x of auditTypes" [ngValue]="x.key">{{
                    x.value
                    }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group col-xl-3 col-sm-6 col-12">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label">{{ 'Labels.sourceAccount' | translate }}</label>
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" name="sourceAccount" formControlName="sourceAccount" />
              </div>
            </div>
          </div>
          <div class="form-group col-xl-3 col-sm-6 col-12">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label">{{ 'Labels.actionOn' | translate }}</label>
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" name="actionOn" formControlName="actionOn" />
              </div>
            </div>
          </div>
          <div class="form-group col-xl-3 col-sm-6 col-12">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label">{{ 'Labels.actionBy' | translate }}</label>
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" name="actionBy" formControlName="actionBy" />
              </div>
            </div>
          </div>
          <div class="form-group col-xl-3 col-sm-6 col-12">
            <div class="row">
              <div class="col-md-12 hidden-xs-down">
                <label class="control-label">&nbsp;</label>
              </div>
              <div class="col-md-12">
                <button class="btn btn-primary" [disabled]="!searchForm.valid || (loaderService.isLoading | async)" type="submit">
                  <i class="fa fa-search"></i>&nbsp; {{ 'Labels.search' | translate }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div widget class="card border-0 box-shadow">
  <div class="box box-primary">
    <div class="box-body">
      <button class="btn btn-outline-secondary btn-sm ma2 pull-right" *ngIf="checkGridDataLoad()" [disabled]="loaderService.isLoading | async"
        (click)="downloadReport()" title="{{ 'Labels.download' | translate }}" type="button">
        <i class="fa fa-download"></i>&nbsp; {{ 'Labels.download' | translate }}
      </button>
      <app-grid class="w-100" [gridModelInput]="settings" (onGridSync)="syncGridData($event)"></app-grid>
      <ng-template #statusTmpl let-row="row" let-value="value">
        <span [ngClass]="
            value === 'APPROVED' ? 'badge badge-success' : (value === 'PENDING' ? 'badge badge-warning' : 'badge badge-danger')
          ">{{ value }}
        </span>
      </ng-template>
      <ng-template #actionTmpl let-row="row" let-value="value">
        <button type="button" class="btn btn-sm btn-outline-primary" (click)="viewMore(row)">
          {{ 'Grid.details' | translate }}
        </button>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #content let-d="dismiss" let-c="close">
  <div class="modal-header">
    <h4 class="modal-title ttc" id="modal-basic-title">{{ modalAction }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-12" *ngIf="getAddInfoTypeStr()">
        <div class="row">
          <div class="col-3 text-gray text-right font-italic">
            {{ 'Grid.details' | translate }}:
          </div>
          <div class="col-9">
            <p class="addInfo">{{ reqAdditionalInfo }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="getAddInfoTypeObj()">
        <div class="form-group col-12" *ngFor="let item of (reqAdditionalInfo | keyvalue)">
          <div class="row">
            <div class="col-4 text-gray text-right pr-0 font-italic">
              {{ item.key }}:
            </div>
            <div class="col-8 pl-2">{{ item.value }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
