@import '~tachyons/css/tachyons.css';
@import '~react-bootstrap-typeahead/css/Typeahead.css';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,500,700');

#root {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Lato, 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  line-height: 1.43;
  font-size: 100%;
  letter-spacing: 0.25px;
  font-weight: 400;
  color: #777d80;
  background-color: rgba(25, 25, 27, 1);
}

h1,
h2,
h3,
h4,
h5,
.ReactTable .rt-thead .rt-th,
.ui.card > .content > .header,
.ui.cards > .card > .content > .header,
.ui.modal > .header,
.ui.menu {
  color: #777d80;
  font-family: 'Open sans', 'Poppins', 'sans-serif';
  font-weight: 500;
  letter-spacing: -0.25px;
}

.top--3 {
  top: -3rem;
}

.bg-none {
  background: none;
}

.fill-white {
  fill: #fff;
}

.bg-primary-color {
  background-color: #334152;
}

.app-text-color {
  color: #58687e;
}

.app-text-fill {
  fill: #58687e;
}

.blur {
  -webkit-filter: blur(3.5px);
  /* Safari 6.0 - 9.0 */
  filter: blur(3.5px);
}

.ml6-5 {
  margin-left: 12.5rem;
}

.ml3-5 {
  margin-left: 3rem;
}

.top-inherit {
  top: inherit;
}

.pt-nav {
  padding-top: 5rem;
}

.min-width-auto {
  min-width: auto;
}

.min-h5 {
  min-height: 16rem;
}

.pb0-imp {
  padding-bottom: 0 !important;
}

.pa0-imp {
  padding: 0 !important;
}

.h2-5 {
  height: 2.5rem;
}

.lh-2-5 {
  line-height: 2.5rem;
}

.bg-washed-light-blue {
  background-color: #e9eff5;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.gradient-overlay {
  position: absolute;
  background: linear-gradient(-135deg, rgb(25, 143, 53) 0, rgb(0, 111, 191) 100%);
  opacity: 0.6;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.ui.left.sidebar {
  justify-content: flex-end !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  position: fixed !important;
  border-right: 1px solid rgba(189, 189, 192, 0.2);
  transition: all 0.25s ease-in;
  box-shadow: none !important;
  left: 0 !important;
  bottom: 0 !important;
  top: 0 !important;
  z-index: 10 !important;
}

.ui.right.sidebar {
  width: 450px !important;
  transition: all 0.25s linear;
  margin-top: 4em !important;
  padding-bottom: 4em !important;
  overflow-y: visible !important;
  box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.3) !important;
}

.bg-overlay:before {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  top: 4em;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.ui.visible.left.sidebar ~ .fixed,
.ui.visible.left.sidebar ~ .pusher {
  transform: none !important;
  padding-left: 278px !important;
  padding-right: 0px !important;
  margin: 0 !important;
}

.pusher .pushable:not(body) {
  transform: none !important;
}

.sidebar-container {
  padding: 68px 15px 0;
}

.navSection {
  flex-grow: 1;
  overflow-y: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ui.sidebar.menu .ui.menu .active.item {
  background: inherit !important;
}

.ui.menu .active.item:hover,
.ui.vertical.menu .active.item:hover {
  color: rgba(255, 255, 255, 0.7);
}

.ui.sidebar.menu .ui.menu .item.dropdown {
  display: block;
}

.ui.sidebar.menu .active.item .hide-menu,
.ui.visible.left.sidebar .ui.menu .ui.dropdown .menu .item.active,
.ui.sidebar.menu .ui.menu .active.item .text {
  color: #fff !important;
  font-weight: 600 !important;
}

.ui.sidebar.menu .ui.menu:hover .active.item,
.ui.sidebar.menu .ui.menu .ui.dropdown .menu .item:hover,
.ui.sidebar.menu .ui.menu .ui.dropdown:hover {
  background: none !important;
}

.ui.sidebar.menu .ui.menu:hover .icon {
  opacity: 1 !important;
}

.ui.sidebar.menu .item,
.ui.sidebar.menu .ui.menu .ui.dropdown .menu .item,
.ui.sidebar.menu .ui.menu .item .text {
  padding: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  opacity: 1;
}

.ui.sidebar.menu .ui.menu .item .text {
  padding: 0 !important;
}

.ui.sidebar.menu .ui.menu {
  background: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.ui.sidebar.menu .ui.menu .item {
  padding: 0 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.ui.sidebar.menu .ui.menu .item .text {
  margin: 0 !important;
}

.ui.sidebar.menu .ui.menu .ui.dropdown.active .menu {
  margin: 0.75em 0 !important;
}

.ui.sidebar.menu .ui.menu .ui.dropdown .menu {
  position: relative !important;
  left: 33px !important;
  background: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.ui.sidebar.menu .ui.menu .item > i.icon,
.ui.sidebar.menu .ui.menu .item > i.icon {
  margin: 0 !important;
  outline: 0 !important;
  padding: 0 !important;
  margin-left: 0px !important;
  margin-right: 12px !important;
  height: 20px !important;
  width: 20px !important;
  display: flex;
  align-items: center;
}

.hide-menu,
.ui.sidebar.menu .ui.menu .ui.dropdown .menu .item,
.ui.sidebar.menu .ui.menu .item .text {
  display: none;
  transition: all 0.25s ease-out !important;
  white-space: normal !important;
  line-height: 20px !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #fff !important;
  text-transform: capitalize !important;
}

.ui.sidebar.menu .ui.menu .ui.dropdown .menu .item {
  font-size: 12px !important;
  display: block !important;
}

.ui.visible.left.sidebar .ui.menu .hide-menu,
.ui.visible.left.sidebar .ui.menu .ui.dropdown .menu .item,
.ui.visible.left.sidebar .ui.menu .item .text {
  display: inline;
  transition: all 0.25s ease-in !important;
}

.ui.left.push.sidebar {
  transform: none !important;
  width: 60px !important;
  visibility: unset !important;
  position: fixed !important;
}

.ui.visible.push.sidebar {
  transform: none !important;
  width: 278px !important;
}

.pushable > .pusher {
  transition: all 0.25s ease-in;
  margin: 0 0 0 60px !important;
}

.ui.vertical.menu {
  background: inherit !important;
}

.ui.vertical.menu .menu .item {
  color: #fff;
}

.ui.vertical.menu .item:before {
  background: none !important;
}

.ui.secondary.menu {
  height: 68px !important;
  margin: 0 !important;
  border-bottom: 1px solid rgba(189, 189, 192, 0.2);
  padding: 20px 8px !important;
  width: 100%;
  z-index: 11;
}

.ui.secondary.menu > .item {
  padding: 0 !important;
  margin: 0 !important;
}

.ui.secondary.menu .ui.input input,
.ui.secondary.menu .ui.selection.dropdown {
  box-shadow: 0 2px 5px 0 rgba(50, 50, 93, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07) !important;
}

.ui.header,
.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
  color: rgba(0, 0, 0, 0.56) !important;
}

i.icon,
i.icons {
  outline: 0px !important;
}

.ui.menu .item > i.icon {
  opacity: 0.6 !important;
}

.ui.dropdown {
  align-self: center !important;
  padding: 0.78571429em 0.92857143em !important;
}

.ui.dropdown:hover {
  background: rgba(0, 0, 0, 0.05) !important;
}

.ui.dropdown .menu {
  background: rgba(25, 25, 27, 1);
  border: 1px solid rgba(189, 189, 192, 0.2);
  z-index: 999 !important;
}

.ui.dropdown .menu > .header {
  color: rgba(255, 255, 255, 0.7) !important;
}

.ui.menu .ui.dropdown .menu > .item {
  color: rgba(255, 255, 255, 0.9) !important;
}

.ui.menu .ui.dropdown .menu > .item:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.ui.dropdown i {
  float: left !important;
  color: rgba(255, 255, 255, 0.9);
}

.ui.dropdown .text {
  margin-left: 0.25rem;
  color: rgba(255, 255, 255, 0.9);
}

.contentPage {
  position: absolute;
  left: 278px;
  right: 0;
  top: 0;
  bottom: 0;
}

.ui.modal {
  margin: 0 auto !important;
}

.ui.modal > .close {
  top: 0 !important;
  right: 0 !important;
  color: #333 !important;
}

.ui.modal > .header {
  text-transform: capitalize;
}

.ui.card,
.ui.cards > .card {
  border-radius: 4px !important;
  border: solid 1px #f5f5f5 !important;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07) !important;
  transition: all 0.25s ease-in;
}

.ui.card:hover,
.ui.cards > .card:hover {
  box-shadow: 0 2px 5px 0 rgba(50, 50, 93, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07) !important;
  transition: all 0.25s ease-in;
}

.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
  display: inline-block !important;
  vertical-align: -webkit-baseline-middle;
}

.ReactTable .rt-thead.-header {
  background: #f6f9fc !important;
  box-shadow: none !important;
}

.ReactTable .rt-thead .rt-th {
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 6px;
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  text-align: left;
  padding: 9px 10px;
  line-height: 22px;
  vertical-align: top;
  white-space: nowrap;
  color: #32325d;
  border-bottom: 1px solid #f5f7f9;
}

.dwl img {
  margin-bottom: 1rem;
}

.dwl h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.dwl span {
  font-size: 1.5rem;
}

.fc-container {
  min-height: 360px;
}

.fc-container h3 {
  color: inherit;
}

.fc-description {
  line-height: 1.5rem;
}

.ReactTable .rt-td {
  padding: 5px 10px;
}

.ReactTable .rt-th,
.ReactTable .rt-thead .rt-resizable-header-content {
  color: #737373 !important;
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
a.label:hover,
a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: #777777;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #5e5e5e;
}
.label-primary {
  background-color: #337ab7;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #286090;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}
a {
  color: rgba(255, 255, 255, 0.9);
}
.ui.form .field > label {
  color: rgba(255, 255, 255, 0.9);
}
.ui.form .fields {
  flex-direction: column;
}
.ui.form .field > label.required:after {
  margin: -0.2em 0 0 0.2em;
  content: '*';
  color: #db2828;
}
.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}
input[type='color'] {
  min-height: 44px;
}

.Chat-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 68px;
  /* overflow-y: scroll; */
  display: flex;
  color: rgba(189, 189, 192, 1);
}

.Main {
  flex: 1 1 0;
  height: 100%;
  width: 100%;
}

.Header {
  padding: 0.5rem 1rem;
  max-height: 80px;
  border-bottom: 1px solid rgba(189, 189, 192, 0.2);
}

.Header__name {
  color: #fff;
  margin-top: 0;
}

.User {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
}

.User:hover {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.User.active {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.User__pic {
  width: 50px;
  border-radius: 50%;
}

.User__details {
  display: none;
}

.ChatWindow {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Empty__name {
  color: #fff;
}

.Empty__status,
.Empty__info {
  padding: 1rem;
}

.Empty__status {
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.Empty__img {
  border-radius: 50%;
  margin: 2rem 0;
}

.Empty__btn {
  padding: 1rem;
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 30px;
  outline: 0;
}

.Empty__btn:hover {
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.Chats {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  overflow-y: scroll;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 72px;
  top: 80px;
}

.Chat {
  position: relative;
  margin: 1rem 0 1rem 1rem;
  color: #fff;
  padding: 1.5rem 1rem;
  background: linear-gradient(90deg, #1986d8, #7b9cc2);
  max-width: 90%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Chat p {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 8px;
  font-size: 0.7rem;
  color: burlywood;
}

.Chat span {
  font-weight: bold;
  display: inline-block;
  position: relative;
  margin-right: 4px;

  animation: typing ease-in-out;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.Chat span:nth-child(2) {
  animation-delay: 0.1s;
}
.Chat span:nth-child(3) {
  margin-right: 0px;
  animation-delay: 0.2s;
}

.Chat.is-user-msg {
  margin-left: auto;
  margin-right: 1rem;
  background: #2b2c33;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.Chat.is-user-msg p {
  right: 16px;
}

.Message {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 278px;
  /* width: 100%; */
  margin: auto;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.075);
}

.rbt {
  width: 80%;
}

.Message__input,
.rbt-input {
  width: 80%;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: 0;
  border-radius: 10px;
  font-size: 1rem;
  outline: 0;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.rbt-input {
  width: 100%;
  margin-bottom: 0.5rem;
}

.sr-only.rbt-sr-status {
  display: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

/* not small devices  */
@media (min-width: 576px) {
  .User__details {
    display: block;
    padding: 0 0 0 1rem;
  }

  .User__details-name {
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
  }

  .Chat {
    max-width: 60%;
  }
}

@keyframes typing {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -4px);
  }
}
