<div class="table-responsive">
  <p class="pa3 m-0" *ngIf="gridModel.rows.length == 0">
    {{ 'Grid.empty' | translate }}!
  </p>
  <select
    *ngIf="gridModel.rows.length > 0"
    class="form-control w-10 dib absolute top-0 mt-1 ml-1"
    name="pageSize"
    (change)="setPageSize($event)"
  >
    <option
      *ngFor="let x of pageSizeOptions"
      [value]="x"
      [selected]="x === pageSize"
      >{{ x }}</option
    >
  </select>
  <ngx-datatable
    *ngIf="gridModel.rows.length > 0"
    class="material shadow-none"
    [rows]="gridModel.rows"
    [columns]="gridModel.columns"
    [rowHeight]="'auto'"
    [columnMode]="'flex'"
    [headerHeight]="40"
    [footerHeight]="40"
    [count]="gridModel.totalElements"
    [offset]="gridModel.currentPageNumber"
    [messages]="gridModel.message"
    [limit]="gridModel.pageSize"
    (page)="loadPage($event)"
    [externalPaging]="true"
  >
  </ngx-datatable>
</div>
